* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    background-color: #1B2330;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

hr {
    width: 85%;
    color: #1F2937;
    margin: 0;
}

.container {
    max-width: 800px;
}

.top-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    padding: 1.5em;
    padding-bottom: 2em;
    border-radius: 10px 10px 0 0;
    
}

.bottom-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151d27;
    color: #fff;
    padding: .8em;
    padding-bottom: 1em;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    font-weight: 800;
    text-align: center;
}

.input {
    width: 40%;
    padding: .2em;;
    font-style: inherit;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    background-color: #1F2937;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: .6em;
}

/* The ::-webkit-inner-spin-button CSS pseudo-element is used to style the inner part of the spinner button of number 
* picker input elements.
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.calc-type {
    font-weight: bold;
    font-size: 1.1rem;
}

.calc-result {
    font-size: 1rem;
    line-height: 1.5;
}

#footer {
    color: #fff;
    text-align: center;
}

#footer a {
    color: #fff;
    font-weight: bold;
}

#footer a:hover {
    cursor: pointer;   
    color: #d1e4fc;
    font-size: 1.05rem;
    transition: 0.3s ease-in-out;
}


@media screen and (max-width:700px)
 {
    .input {
        padding: .5em;
        text-align: center;
        font-size: 2em;
    }

    .calc-type {
        font-weight: bold;
        font-size: 1rem;
    }
    
    .calc-result {
        font-size: .9rem;
    }

}



