* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    background-color: #1B2330;
}

hr {
    width: 80%;
    color: #1F2937;
    margin: 0;
    height: 1px;
}

.container {
    max-width: 550px;
    max-height: 100vh;
    margin: 1.5rem auto;
}

.top-half {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    border-radius: 10px 10px 0 0;
    
}

.bottom-half {
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 10px 10px;
}

.title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    font-weight: 800;
}

.input {
    height: 80px;
    width: 30%;
    font-style: inherit;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    background-color: #1F2937;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
}

/* The ::-webkit-inner-spin-button CSS pseudo-element is used to style the inner part of the spinner button of number 
* picker input elements.
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.calc-type {
    font-weight: bold;
    font-size: 1.1rem;
}

.calc-result {
    font-size: 1rem;
}

#footer {
    color: #fff;
    text-align: center;
}

#footer a {
    color: #fff;
    font-weight: bold;
}

#footer a:hover {
    cursor: pointer;   
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    font-size: 1.05rem;
    transition: 0.3s ease-in-out;
}
